@import url("./res/fonts/Poppins-Medium.ttf");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

.box {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  font-weight: bold;
  padding: 10px;
  color: white;
}
.letters {
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  margin-top: 20px;
}
.reader_letters {
  display: flex;
  flex-direction: row;
}
.minibox{
  background-color: rgba(189, 195, 199,1.0);
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
}
.start {
  color: rgba(192, 57, 43,1.0);
}

.reader {
  display: flex;
  padding-left: 25px;
  height: 65%;
  background-color: rgba(52, 73, 94, 1);
  font-weight: bold;
  font-size: 32px;
  padding: 0px 20px;
  color: white;
  align-items: center;
  justify-content: center;

}
.container {
  height: 100%;
  width: auto;
  background-color:rgba(36, 37, 42, 1);
}
.readerChar {
  display: contents;
}
#affichage_lettres{
  margin-top: 20px;
}

#affichage_reader {
  color: rgb(11, 103, 156);
}
#affichage_readerp1, #affichage_readerp2 {
  color: black;
}
#affichage_readerm1, #affichage_readerm2 {
  color: rgb(11, 156, 30);
}
