@import url("../../res/fonts/Poppins-Medium.ttf");

body, html {
  background-color: rgba(36, 37, 42, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 5vh 0;
}
.scores{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tableDiv {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100vw;
  height: 70vh;
}
.tableScore {
  background-color: rgba(44, 62, 80, 1);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  color: white;


}
.tr {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.th, .td{
  display: block;
  text-align: center;
  width: 20vw;
}
.th {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 73, 94, 1);
  color: white;
  font-weight: bolder;
  padding: 2.5vh 0;
}
